html, body, section {
    height: 100%;
}

body {
    background-color: rgb(212, 212, 212);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
}

h1 {
    font-size: xx-large;
}

label {
    font-weight: bold;
}

fieldset {
    border: none;
}

.container {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    min-width: 5%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

.logout-button {
    background-color: rgb(0, 46, 105);
}

.delete-button {
    background-color: rgb(167, 0, 0);
}